*{
     font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden !important;  /* evita scroll horizontal */
  font-family: "Inter", sans-serif;
  background: #f5f6fa;
  color: #1d304b;
}